.md-img.profile {
  width: 100%;
  max-width: 100px;
}

.profile-container {
  padding-right: 0 !important;
  padding-bottom: 0 !important;
}

.markdown > pre {
  white-space: break-spaces;
}

.markdown > table {
  border-collapse: collapse;
}

.markdown > table > tbody > tr > td {
  border: solid 1px #cecece;
  padding: 0 3px;
}

.markdown .team-profile {
  margin-bottom: 16px !important;
}

.markdown .team-profile .profile-container {
  align-self: center;
}
