section {
  color: #fff;
  padding-top: 60px;
  padding-bottom: 50px;
  font-size: 1.3em;
}

section.large {
  padding-bottom: 150px;
}

section.default {
  color: #000;
}

section.white {
  background-color: white;
  color: #000;
}

section.white .underlined::after {
  border-color: #f3c006;
}

section.blue {
  background-color: #2169C7;
}

section.green {
  background-color: #246910;
}

section.yellow {
  background-color: #908900;
  color: #000;
}

section.purple {
  background-color: #2e2459;
}

section.purple .underlined::after {
  border-color: #A7233A;
}

section.red {
  background-color: #A7233A;
}

section.red .underlined::after {
  border-color: #2e2459;
}
