<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Meta tags -->
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Dependencies -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=Numans&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
		rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/css/Semantic-UI-CSS-master/semantic.min.css">
	<link rel="stylesheet" href="/js/katex/katex.min.css">
	<script defer src="/js/katex/katex.min.js"></script>
	<script defer src="/js/katex/contrib/auto-render.min.js"></script>
	<!-- Custom styles -->
	{{ $styles := resources.Get "scss/main.scss" | toCSS | minify | fingerprint }}
	<link rel="stylesheet" href="{{ $styles.Permalink }}">
	<!-- Custom scripts -->
	{{ $scripts := resources.Get "js/main.js" | minify | fingerprint }}
	<script defer src="{{ $scripts.Permalink }}"></script>
	<!-- Title -->
	<title>{{ block "title" . }}{{ .Title }}{{ end }}</title>
	<!-- Head block -->
	{{ block "head" . }}{{ end }}
</head>

<body>
	{{ partial "header.html" . }}
	<main>
		{{ block "main" . }}{{ .Content }}{{ end }}
	</main>
	{{ partialCached "footer.html" . }}
</body>

</html>
