<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>{{ block "title" . }}{{ .Title }}{{ end }}</title>
	<link rel="stylesheet" href="/css/Semantic-UI-CSS-master/semantic.min.css">
	{{ $styles := resources.Get "scss/main.scss" | toCSS | minify | fingerprint }}
	<link rel="stylesheet" href="{{ $styles.Permalink }}">
	{{ block "head" . }}{{ end }}
</head>

<body>
	{{ partial "header.html" . }}
	<main>
		{{ block "main" . }}{{ .Content }}{{ end }}
	</main>
	{{ partialCached "footer.html" . }}
</body>

</html>
