.btn {
	/* font-family: gotham ssm a, gotham ssm b, sans-serif; */
	font-weight: bold;
	padding: 10px 20px;
	border-radius: 3px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #fff !important;
	border: none;
	outline: 0;

	&.big {
		padding: 18px 29px;
	}

	&.pink {
		background: #ec008c;

		&-gradient {
			background: linear-gradient(145deg, #F05A28 0, #EC008C 100%);
			transition: filter .3s !important;

			&:hover, &:active {
				cursor: pointer;
				filter: hue-rotate(140deg) saturate(2) drop-shadow(2px 4px 6px #5a3); // blue: hue-rotate(228deg), #58f
			}
		}
	}
}