.md-img {
	&.profile {
		width: 100%;
		max-width: 100px;
	}
}

.profile-container {
	padding-right: 0 !important;
	padding-bottom: 0 !important;
}

.markdown {
	width: 100%;

	& pre > code {
		white-space: pre;
	}

	&>table {
		border-collapse: collapse;

		&>tbody>tr>td {
			border: solid 1px #cecece;
			padding: 0 3px;
		}
	}

	.team-profile {
		margin-bottom: 16px !important;

		.profile-container {
			align-self: center;
		}
	}
}